body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $snow;
  @media only screen and (max-width: $bp-1100) {
    background-color: white;
    align-items: stretch;
  }
}

.container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: minmax(50rem, 80vh);
  grid-template-columns:
    [sidebar-start] 14rem [sidebar-end center-start]
    repeat(6, [col-start] minmax(min-content, 14rem) [col-end])
    [center-end];
  @media only screen and (max-width: $bp-1100) {
    grid-template-rows: minmax(50rem, 95vh);
  }
  @media only screen and (max-width: $bp-1000) {
    grid-template-rows: 8rem 1fr;
    grid-template-columns:
      [center-start]
      repeat(6, [col-start] minmax(min-content, 16.67rem) [col-end])
      [center-end];
  }
}
