.search {
  grid-column: center-start / center-end;
  display: grid;
  grid-row-gap: 2rem;
  align-content: center;
  padding: 4rem;
  @media only screen and (max-width: $bp-1000) {
    margin-top: 5rem;
  }
  @media only screen and (max-width: $bp-600) {
    padding: 4rem 0;
  }
  &__form {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    @media only screen and (max-width: $bp-450) {
      width: 100%;
      grid-template-columns: 1fr min-content;
    }
  }
  &__input {
    width: 30rem;
    order: 1;
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: $pink;
    color: white;
    transition: all 0.3s;
    @media only screen and (max-width: $bp-450) {
      width: 100%;
      font-size: 2.5rem;
    }
    @media only screen and (max-width: $bp-350) {
      font-size: 2.75rem;
    }
    &:focus {
      outline: none;
    }
    &:placeholder-shown {
      background-color: $snow;
      color: $onyx;
    }
    &::-webkit-input-placeholder {
      font-style: italic;
    }
  }
  &__select {
    order: 2;
    cursor: pointer;
    appearance: none;
    border-radius: 0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: none;
    outline: none;
    background: no-repeat 90% $pink url("../../public/images/chevron-down.svg");
    background-size: 2.5rem;
    font-size: 1.6rem;
    color: white;
    align-self: stretch;
    width: 10rem;
    padding: 0 1rem;
    @media only screen and (max-width: $bp-350) {
      width: 8rem;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
  &__label {
    order: 3;
    color: $dark-pink;
    display: block;
    margin-top: 0.7rem;
    margin-left: 2rem;
    transition: all 0.3s;
    > svg {
      fill: $pink;
      height: 2rem;
      width: 2rem;
      margin-right: 1rem;
    }
  }
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
}

/*  loader.css */

$primary-color: $pink;
@import "node_modules/loaders.css/src/animations/ball-pulse-rise.scss";

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
