.book-shelves {
  grid-column: center-start / center-end;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.books {
  min-height: 24rem;
  margin-top: 2rem;
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    align-items: center;
    justify-items: center;
    grid-row-gap: 2rem;
    &--bunched {
      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      justify-content: center;
      grid-row-gap: 2rem;
      .books__book {
        &:not(:first-of-type) {
          margin-left: -3rem;
        }
      }
    }
  }
  &__heading {
    border-bottom: 1rem solid $snow;
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 3rem;
    padding: 1rem;
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    > p {
      grid-column: 1 / -1;
      justify-self: center;
    }
  }
  &__pagination {
    //grid-row: 2 / -1;
    grid-column: 1 / -1;
    justify-self: center;
    > * {
      cursor: pointer;
      display: inline-block;
      transition: transform 0.3s;
      &:hover {
        transform: translateY(-4px);
        > svg {
          fill: $pink;
        }
      }
      &:active,
      &:focus {
        transform: translateY(0);
      }
    }
    svg {
      fill: $silver;
      height: 4rem;
      width: 4rem;
    }
  }

  &__book-cover {
    cursor: pointer;
    height: auto;
    width: 9rem;
    border-radius: 3px;
    transition: all 0.2s;
    &:hover {
      transform: translateY(-0.5rem) scale(1.2);
      box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
      z-index: 10;
    }
  }
}
.books__book > a:active > .books__book-cover {
  transform: translateY(0);
  box-shadow: 0 0.5rem 4rem rgba(black, 0.8);
  z-index: 0;
}

.all {
  position: relative;
  .books__heading {
    border: none;
    border-bottom: 1rem solid transparent;
    border-image: linear-gradient(to right, $silver, $silver);
    border-image-slice: 1;
    &:link,
    &:visited {
      text-decoration: none;
      color: $onyx;
    }
    &:hover,
    &:active,
    &:focus {
      border-image: linear-gradient(to right, $light-pink, $green);
      border-image-slice: 1;
    }
  }
}
