.search {
  grid-column: center-start / center-end;
  display: grid;
  grid-row-gap: 4rem;
  align-content: center;
  padding: 4rem;
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__input {
    width: 40%;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border: 0.5rem solid $snow;
    border-radius: 3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:focus {
      outline: none;
    }
  }
  &__select {
    cursor: pointer;
    appearance: none;
    border-radius: 0;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    border: none;
    outline: none;
    background: no-repeat 92% $pink url("../../public/images/chevron-down.svg");
    background-size: 3rem;
    font-size: 1.6rem;
    color: white;
    align-self: stretch;
    width: 12rem;
    padding: 0 1rem;
    &:focus {
      outline: none;
      border: none;
    }
  }
}
