// COLORS

$pink: #ff006a;
$dark-pink: #e43f6f;
$light-pink: #fd3e81;
$green: #abff4f;
$snow: #fbfbfb;
$silver: #e8eef2;
$grey: #595457;
$onyx: #3a3042;

// BREAKPOINTS

$bp-1100: 68.75em;
$bp-1000: 62.5em;
$bp-800: 50em;
$bp-700: 43.75em;
$bp-600: 37.5em;
$bp-450: 28.125em;
$bp-350: 21.875em;
$bp-250: 15.625em; /* VERY UNNECESSARY BUT IDGAF */
