*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: $bp-600) {
    font-size: 56.25%;
  }
  @media only screen and (max-width: $bp-450) {
    font-size: 50%;
  }
  @media only screen and (max-width: $bp-250) {
    font-size: 37.5%;
  }
}

body {
  box-sizing: border-box;
}

::selection {
  background-color: $light-pink;
  color: white;
}
